a {
  color: cadetblue;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  position: absolute;
  top: 0;
  width: 1366px;
}

body {
  background-attachment: fixed;
  background-image: url(Wallpaper_01.png);
  background-position: initial;
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: 1580px;
  color: rgb(51, 108, 110);
  font-family: sans-serif;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding-top: 0;
}

.btn {
  color: cadetblue;
  margin-top: 5px;
}

.div-ex {
  margin-left: 200px;
  width: 1150px;
}

fieldset {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin: 0 auto 30px;
  padding: 0 30px 20px;
  text-align: justify;
  width: 90%
}

fieldset h3 {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  padding: 3px 5px;
  text-align: center;
}

fieldset li {
  line-height: 25px;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  display: block;
  font-size: 13px;
  padding: 5px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(47, 119, 121);
}

h2 {
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 5px white;
}

h3 {
  margin-bottom: 10px;
}

input {
  text-align: center;
}

.menu {
  background-color: white;
  border: solid 1px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 25px;
  padding: 0 15px;
  position:  fixed;
  text-align: center;
  width: 150px;
}

.menu a {
  color: cadetblue;
  line-height: 35px;
  text-decoration: none;
}

.menu li {
  list-style-type: none;
}

.menu li:hover {
  font-weight: bold;
}

.menu ul {
  padding-left: 0;
}

p {
  margin-top: 0;
}

.r1 ul {
  margin-left: 160px;
  text-align: left;
}

.r1 li {
  list-style-type: none;
}

.r2, .r5, .r10 {
  padding-top: 40px;
}

.r3 {
  padding-top: 50px;
}

.r4, .r8, .r9, .r11 {
  padding-top: 20px;
}

.r6, .r7 {
  padding-top: 30px;
}

.r11 p {
  line-height: 30px;
}

.resultados {
  display: inline-block;
  height: 100%;
  margin: 10px 25px 0;
  text-align: center;
  width: 70%;
}

.resultados p {
  text-align: center;
}

span {
  font-weight: bold;
}

.t-menu {
  font-size: 20px;
}

.t-menu:hover {
  color: rgb(55, 116, 118);
  font-size: 22px;
}

.v-input {
  display: inline-block;
  margin: 5px auto 10px;
  width: 80px;
}

.valores {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  text-align: center;
  width: 200px;
}

.valores .p1 {
  margin-left: 50px;
  text-align: left;
}
