* {
  box-sizing: border-box;
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  align-self: center;
  background-color: #5C687C;
  display: flex;
}

.header-container > .header:nth-child(1) {
  order: 1;
}

.logo-container {
  display: flex;
  flex-basis: 268px;
  justify-content: center;
}

.menu-container {
  align-self: center;
  display: flex;
  flex-basis: 500px;
  flex-grow: 2;
}


.menu-container li {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  list-style: none;
  margin-right: 10px;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-basis: 700px;
  flex-direction: column;
  flex-grow: 10;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  flex-basis: 16%;
  height: 150px;
  justify-content: center;
  margin: 10px;
}

.aside-container {
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  margin: 20px;
  align-self: center;
  flex-grow: 2;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}