#creature {
  left: 110px;
  position: absolute;
  top: 60px;
  z-index: 2;
}

#greeting {
  background: rgb(255, 255, 0);
  border: 2px solid black;
  font-family: "Comic Sans MS", fantasy;
  left: 80px;
  padding: 5px;
  position: absolute;
  top: 10px;
  width: 262px;
  z-index: 3;
}

#planet {
  left: 10px;
  position: absolut;
  top: 10px;
  z-index: 1;
}
