body {
  font-family: sans-serif;
}

#cloud-pic {
  float: left;
  margin: 6px;
  width: 100px;
}

#cloud-sidebar {
  background: rgb(255, 255, 219);
  float: right;
  margin: 0px 6px;
  width: 30%;
}

h1 {
  font-family: fantasy;
}
