body {
    font-family: sans-serif;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
  }

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

img {
    margin-bottom: 10px;
    max-width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

main p {
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

@media screen and (min-width: 800px) {
    body {
        background-color: silver;
    }
    
    main {
        margin: 0 70px;
    }

    body p {
        font-size: 18px;
        letter-spacing: 0.5px;
        text-indent: 50px;
        line-height: 35px;
        margin-bottom: 50px;
    }

    figure{
        flex-basis: 300px;
    }

    h1 {
        margin: 70px auto 50px;
        font-size: 30px;
    }

    h2 {
        margin: 50px auto;
        font-size: 25px;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 780px;
    }
}