h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
  }

  li {
    background-color: rgb(150,150,150);
    font-style: italic;
    line-height: 40px;
    width: 500px;
  }

  .corDeFundo {
    background-color:rgb(202, 212, 215);
    width: 550px;
  }

  p {
    font-weight: 600;
    font-size: 48px;
  }

  body {
    font-size: 16px;
  }

  .corte {
    text-decoration: line-through;
  }

  #lin_1 {
    background-color: yellow;
  }
  #lin_2 {
    background-color: red;
  }
  #lin_3 {
    background-color: brown;
  }